<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluecreation.melodysmartandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtauTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DeviceActivity"
            android:label="@string/title_activity_device"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdvancedDataActivity"
            android:label="@string/title_activity_advanced_data"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RemoteCommandsActivity"
            android:label="@string/title_activity_remote_commands"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".I2cActivity"
            android:label="@string/title_activity_i2c"
            android:theme="@style/AppTheme" />
        <activity android:name=".WifiConfigurationActivity" />
    </application>

</manifest>